* {
  box-sizing: border-box;
}

body {
  font-family: 'Alegreya Sans', sans-serif;
}

main {
  display: flex;
  align-items: space-between;
}

.game-wrapper {
  width: fit-content;
  height: fit-content;
}

#gameboard {
  border: 1px dashed;
  margin: auto;
  display: block;
  position: fixed;
  left: 30%;
  z-index: 10;
}

#game{
  position: fixed;
	left: 30%;
}